pandas
dash
plotly
kaleido==0.2.1 # version 0.4.1 crashes, it seems to require a browser (relies on choreographer)
fire
pyyaml
BeautifulSoup4==4.11.*
prometheus_api_client
pydantic==1.10.*
opensearch-py
boto3
git+https://git@github.com/openshift-psap/hunter@b7ef087a0279554a529e440951f3d6096f9eacf3 # stream-10
